<style>
    .section {
        position: relative;
        height: 100vh;
    }

    .section .section-center {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }

    #booking {
        font-family: 'PT Sans', sans-serif;
        background-image: url('../img/background.jpg');
        background-size: cover;
        background-position: center;
    }

    .booking-form {
        background: rgba(255, 255, 255, 0.9);
        padding: 40px;
        border-radius: 6px;
        width: 100%;
    }

    .booking-form .form-group {
        position: relative;
        margin-bottom: 20px;
    }

    .booking-form .form-control {
        background-color: #f5f5f5;
        height: 50px;
        color: #333;
        border: 1px solid #ccc;
        font-size: 16px;
        font-weight: 400;
        padding: 0px 15px;
    }

    .booking-form .form-control::placeholder {
        color: #999;
    }

    .booking-form input[type="date"].form-control:invalid {
        color: #999;
    }

    .booking-form select.form-control {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url('../img/arrow.png') no-repeat right center;
        background-size: 20px;
        padding-right: 40px;
    }

    .booking-form .form-label {
        display: block;
        margin-left: 20px;
        margin-bottom: 5px;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        color: #1574c1;
    }

    .booking-form .form-checkbox input {
        position: absolute !important;
        margin-left: -9999px !important;
        visibility: hidden !important;
    }

    .booking-form .form-checkbox label {
        position: relative;
        padding-top: 4px;
        padding-left: 30px;
        font-weight: 400;
        color: #333;
    }

    .booking-form .form-checkbox label+label {
        margin-left: 15px;
    }

    .booking-form .form-checkbox input+span {
        position: absolute;
        left: 2px;
        top: 4px;
        width: 20px;
        height: 20px;
        background: #333;
        border-radius: 50%;
    }

    .booking-form .form-checkbox input+span:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background-color: #1574c1;
        transition: 0.2s all;
        transform: translate(-50%, -50%);
    }

    .booking-form .form-checkbox input:not(:checked)+span:after {
        opacity: 0;
    }

    .booking-form .form-checkbox input:checked+span:after {
        opacity: 1;
        width: 10px;
        height: 10px;
    }

    .booking-form .form-btn {
        margin-top: 27px;
    }

    .booking-form .submit-btn {
        color: #fff;
        background-color: #1574c1;
        font-weight: 400;
        height: 50px;
        font-size: 14px;
        border: none;
        width: 100%;
        border-radius: 25px;
        text-transform: uppercase;
        transition: 0.2s all;
    }

    .booking-form .submit-btn:hover,
    .booking-form .submit-btn:focus {
        opacity: 0.9;
    }

    .disabled-input {
        background-color: #f0f0f0;
        color: #999;
        cursor: not-allowed;
        border: 1px solid #ccc;
    }
    .autocomplete-suggestions{
    background-color: #d63434;
    cursor: pointer;
    }
</style>

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <form>
                        <div class="form-group">
                            <div class="form-checkbox">
                                <label for="roundtrip">
                                    <input type="radio" id="roundtrip" name="flight-type" (click)="onFlightTypeChange('roundtrip')">
                                    <span></span>Roundtrip
                                </label>
                                <label for="one-way">
                                    <input type="radio" id="one-way" name="flight-type" (click)="onFlightTypeChange('one-way')">
                                    <span></span>One way
                                </label>
                                <!-- <label for="multi-city">
                                    <input type="radio" id="multi-city" name="flight-type" (click)="onFlightTypeChange('multi-city')">
                                    <span></span>Multi-City
                                </label> -->
                            </div>
                        </div>
                        <!-- flight-booking.component.html -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <span class="form-label">Flying from</span>
                                    <input class="form-control" type="text" placeholder="City or airport" 
                                    [(ngModel)]="flyingFromInput"
                                    (input)="autocompleteAirports(flyingFromInput,'flyingFrom')"
                                    name="flyingFrom"
                                    />
                                    <ul class="autocomplete-suggestions" *ngIf="flyingFromSuggestions.length > 0">
                                        <li *ngFor="let suggestion of flyingFromSuggestions" (click)="selectAirport(suggestion, 'flyingFrom')">
                                          {{ suggestion.Name }} ({{ suggestion.Code}})
                                        </li>
                                      </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                  <span class="form-label">Flying To</span>
                                  <input class="form-control" type="text" placeholder="City or airport" 
                                  [(ngModel)]="flyingToInput"
                                    (input)="autocompleteAirports(flyingToInput,'flyingTo')"
                                    name="flyingTo"/>
                                  <ul class="autocomplete-suggestions" *ngIf="flyingToSuggestions.length > 0">
                                    <li *ngFor="let suggestion of flyingToSuggestions" (click)="selectAirport(suggestion, 'flyingTo')">
                                      {{ suggestion.Name }} ({{ suggestion.Code }})
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              
                            <div class="col-md-2">
                                <div class="form-group">
                                    <span class="form-label">Departing</span>
                                    <input class="form-control" type="date" required [(ngModel)]="departingDate" name="departingDate">
                                </div>
                            </div>
                            <div class="col-md-2" *ngIf="selectedFlightType === 'roundtrip'">
                                <div class="form-group">
                                    <span class="form-label">Returning</span>
                                    <input class="form-control" type="date" required [(ngModel)]="returningDate" name="returingDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <span class="form-label">Travel class</span>
                                    <select class="form-control" name="travelClass" [(ngModel)]="travelClass">
                                        <option value="E">Economy class</option>
                                        <option value="B">Business class</option>
                                        <option value="F">First class</option>
                                    </select>
                                    <span class="select-arrow"></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-btn">
                                    <button class="submit-btn" (click)="showFlights()">Show Flights</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
