<div class="container">
    <h2 class="text-center">List of Flights</h2>
  
    <!-- Flight List Table -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Flight Number</th>
          <th>Departure</th>
          <th>Destination</th>
          <!-- <th>Price</th>
          <th>Book Now</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let flight of flights">
          <td>{{ flight.flightNumber }}</td>
          <td>{{ flight.departure }}</td>
          <td>{{ flight.destination }}</td>
          <td>{{ flight.price | currency:'USD':'symbol' }}</td>
          <td><button class="btn btn-primary">Book Now</button></td>
        </tr> -->
      </tbody>
    </table>
  </div>
  